.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: left;
   
}

@media screen and (max-width:767px) {
    .card {
        grid-template-columns: repeat(1, 1fr);
       
    }
}